[alias]
	st = status
	co = checkout
	d = diff
	dc = diff --cached
	cane = commit --amend --no-edit
	acane = commit --all --amend --no-edit
	rbc = rebase --continue
	pf = push --force-with-lease
	bl = branch -l
	p = push
	cb = checkout -b
	bmv = branch -m
	rba = rebase --abort
	cfix = commit --fixup
	cafix = commit --all --fixup
	rb = rebase
	br = branch -r
	rp = remote prune
	bd = branch -d
	bdf = branch -D
	cp = cherry-pick
	alias = config --get-regexp '^alias'
	ri = rebase -i
	rbi = rebase -i
	cpc = cherry-pick --continue
	cpa = cherry-pick --abort
[user]
	email = stratege3@gmail.com
	name = Albin Kerouanton
	signingkey = CBDB1864
[push]
	default = simple
[rebase]
	autosquash = true
[core]
	excludesfile = /home/nir-/.gitignore
[commit]
	gpgsign = true
[url "ssh://github.com:"]
	insteadOf = https://github.com
  insteadOf = http://github.com
